# Directories to ignore
ANALYSIS/
DATA/*
!DATA/*.csv
!DATA/**/*.csv

results/*/model/
results/*/data/
__pycache__/
*.pyc

# Large files
*.bin
*.pt
*.pth
*.ckpt
*.h5

# Environment
ukb_env/
.env
.DS_Store
