accelerate==1.3.0
adjustText==0.8
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.20.0
alabaster==0.7.16
annotated-types==0.7.0
anyio==4.8.0
arrow==1.3.0
asgiref==3.8.1
attrs==24.3.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bibtexparser==1.4.3
biopython==1.81
blinker==1.9.0
build==1.2.2.post1
cachetools==5.5.1
certifi @ file:///private/tmp/python-certifi-20231118-5270-132s65u/certifi-2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.0.12
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.7
cloudpickle==3.0.0
coloredlogs==15.0.1
contourpy==1.2.0
cycler==0.12.1
dask==2023.12.0
dataclasses-json==0.6.7
datasets==2.15.0
DateTime==5.3
Deprecated==1.2.17
dill==0.3.7
docutils @ file:///private/tmp/docutils-20231123-5861-dkccqu/docutils-0.20.1
durationpy==0.9
et-xmlfile==1.1.0
ete3==3.1.3
faiss-cpu==1.9.0.post1
fake-useragent==2.0.3
fastapi==0.115.7
filelock==3.13.1
Flask==3.1.0
flatbuffers==25.1.24
fonttools==4.44.0
free_proxy==1.1.3
frozenlist==1.4.0
fsspec==2023.10.0
fuc==0.37.0
google-auth==2.38.0
googleapis-common-protos==1.66.0
greenlet==3.0.1
grpcio==1.70.0
h11==0.14.0
htsget==0.2.5
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
humanfriendly==10.0
humanize==4.10.0
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.0
importlib_resources==6.5.2
install==1.3.5
intervaltree==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.5
kubernetes==32.0.0
langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-ollama==0.2.2
langchain-text-splitters==0.3.5
langsmith==0.3.1
locket==1.0.0
lxml==4.9.3
mariadb==1.1.8
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe @ file:///private/tmp/python-markupsafe-20231113-5572-1hfcnxq/MarkupSafe-2.1.3
marshmallow==3.26.0
matplotlib==3.8.1
matplotlib-venn==0.11.9
mdurl==0.1.2
mmh3==5.1.0
monotonic==1.6
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
natsort==8.4.0
ncls==0.0.68
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.6.2
numpy==1.26.1
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.20.1
open-cravat==2.7.3
opencv-python==4.10.0.84
openpyxl==3.1.2
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
oyaml==1.0
packaging==23.2
pandarallel==1.5.4
pandas==2.1.2
partd==1.4.1
patsy==0.5.3
Pillow==10.1.0
posthog==3.10.0
protobuf==5.29.3
psutil==5.6.6
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycparser==2.21
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyega3==5.2.0
pyfaidx==0.8.1.1
PyGetWindow==0.0.9
Pygments @ file:///private/tmp/pygments-20231121-5519-13aqwae/pygments-2.17.2
pyliftover==0.4.1
PyMsgBox==1.0.9
PyMySQL==1.1.0
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Quartz==10.3.2
pyparsing==3.1.1
pyperclip==1.9.0
pypgx==0.21.0
PyPika==0.48.9
pyplink==1.3.6
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
pyranges==0.0.129
PyRect==0.2.0
pysam==0.22.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2023.3.post1
PyVCF3==1.0.3
pywhatkit==5.4
PyYAML==6.0.1
regex==2023.10.3
requests==2.26.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpy2==3.5.14
rsa==4.9
rubicon-objc==0.5.0
safetensors==0.5.2
scholarly==1.7.11
scikit-allel==1.3.7
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
selenium==4.27.1
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sorted-nearest==0.0.39
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==7.3.7
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.23
stanfordcorenlp==3.9.1.1
starlette==0.45.3
statsmodels==0.14.0
sympy==1.12
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.2.0
tokenizers==0.21.0
toolz==0.12.0
torch==2.1.1
tqdm==4.66.4
transformers==4.48.2
trio==0.28.0
trio-websocket==0.11.1
twobitreader==3.1.7
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.7
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wikipedia==1.4.0
wrapt==1.17.2
wsproto==1.2.0
XlsxWriter==3.2.0
xxhash==3.4.1
yarl==1.9.3
zipp==3.17.0
zope.interface==6.1
zstandard==0.23.0
